<!DOCTYPE html>
<html>
<head>

  <title>New City</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- <script src="home.js"></script> -->

  <link rel="stylesheet" type="text/css" href="../css/dashboard.css">
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://newcity.parseapp.com/index.html">New City</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="http://newcity.parseapp.com/templates/dashboard.html">Dashboard <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Articles</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <div class="row_response">
      <h3 class="submission_response">Wonderful answers! We have generated a few results based on your responses that we hope will help you throughout your moving process.</h3>
    </div>
    <!-- Example row of columns -->
    <div class="rowDashboard">
      <div class="col-md-4">
        <a href="http://newcity.parseapp.com/templates/todolist.html">
          <p class="textDashboard">My To-Do List</p>
          <!-- <img src="../img/tasks.jpg" class="imageDashboard"> -->
          <img class="imageDashboard" src="../img/checklist.png">
        </a>
      </div>
      <div class="col-md-4">
        <a href="http://newcity.parseapp.com/templates/neighborhood_guide.html">
          <p class="textDashboard">Neighborhood Guide</p>
          <!-- <img src="../img/neighborhoodguide.jpg" class="imageDashboard"> -->
          <img class="imageDashboard" src="../img/neighborhood.png">
        </a>
      </div>
      <div class="col-md-4">
        <a href="http://newcity.parseapp.com/templates/tiptricks.html">
          <p class="textDashboard">Tips and Tricks</p>
          <!-- <img src="../img/tipsandtricks.png" class="imageDashboard"> -->
          <img class="imageDashboard" src="../img/lightbulb.png">
        </a>
      </div>
    </div>
  </div>
