<!DOCTYPE html>
<html>

<head>
  <title>New City</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- <script src="home.js"></script> -->

  <link rel="stylesheet" type="text/css" href="../css/HPstyle.css">
</head>

<body>
	<link rel="stylesheet" type="text/css" href="../css/navbarStyle.css">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://newcity.parseapp.com/index.html">New City</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="http://newcity.parseapp.com/templates/dashboard.html">Dashboard <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Articles</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <div class="row">
      <!-- <h2 class="tipOne">Tip #1</h2> -->
      <!-- <img id="imageSize" src="" alt=""> -->
      <h3 class="tipOneTitle">Start your search early!</h3>
      <p>We recommend starting about a month before you plan on moving in. Start too early and there likely won't be too many listings of availabilities, but don't start too late that all the availabilities are already taken. One month, we find, should be the right amount of time to start searching and contacting people.</p>
    </div>
    <div class="row">
      <!-- <h2 class="tipTwo">Tip #2</h2> -->
      <!-- <img id="imageSize" src="" alt=""> -->
      <h3 class="tipTwoTitle">Know your budget and credit score.</h3>
      <p>The general rule of thumb is that you shouldn't spend more than 30 percent of your income on rent. 
      In Manhattan, landlords often have strict income and credit requirements, so be sure to look into whether you fulfill these requirements before talking to the landlord.
      Tenants typically need to earn a yearly salary that's roughly 40 times the monthly rent, so for a $2,000-a-month unit, you need to earn $80,000 a year.
      To get around this, consider having a guarantor — usually a family member — co-sign the lease. Your guarantor's income usually needs to be roughly 80 times the monthly rent, and they need good credit.</p>
    <div class="row">
      <!-- <h2 class="tipThree">Tip #3</h2> -->
      <!-- <img id="imageSize" src="" alt=""> -->
      <h3 class="tipThreeTitle">Have your paperwork ready!</h3>
        Make sure to bring your documents — and your guarantor's — whenever looking at apartments. 
        It'll be a good idea to have your bank statements, a “clean and clear copy” of a photo ID and a job offer letter countersigned by both parties. You would not want to find a place you like, only to lose it to the next person in line, because you didn't have the the required paperwork prepared!
        Also, if things are going well and you do find a place you are happy about, you'll need a certified check for the first month’s rent and the amount of one month’s rent for a security deposit, so find out from your bank how to get this quickly.
    </div>
  </div>
</body>

</html>
