/*fonts*/

@font-face {
    font-family: bebasBold;
    src: url("BebasNeue_Bold.otf");
}

@font-face {
    font-family: moonBold;
    src: url("Moon_Bold.otf");
}

@font-face {
    font-family: openSansLight;
    src: url("OpenSans-Light.ttf");
}

@font-face {
    font-family: openSansReg;
    src: url("OpenSans-Regular.ttf");
}

body {
/*  background-image: url(landing1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;*/
}

/*bootstrap*/

.jumbotron {
  padding: 5px;
  margin: 0px;
  text-align: center;
  position: absolute;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(landing1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/*reg css*/

#logo {
  font-family: bebasBold;
  font-size: 20px;
  color:#A5AAD9;
  padding: 15px;
  margin-top: 10px;

}

ul#navbar {
    padding: 0;
    text-align: right;
    font-family: openSansLight;
}

ul#navbar li {
    display: inline;
}

ul#navbar li a {
    color: #A5AAD9;
    margin: 20px 10px;
    text-decoration: none;
    font-size: 18px;
}

ul#navbar li a:hover {
    color: purple;
    /*background-color: #a5aad9;*/
    font-family: openSansReg;
}

#headTitle {
  color: white;
  font-size: 100px;
  text-align: center;
  font-family: bebasBold;
  margin-top: 60px;
}

#tagline {
  font-family: bebasBold;
  font-size: 60px;
  color:white;
}

#bottom {
  padding: 100px 0px;
}

h3 {
  font-family: moonBold;
  color: #7e5686;
  text-align: center;
  font-size: 45px;
  background-color: rgba(255,255,255,0.7);

}

.button {
  text-align: center;
  border: 5px  white;
  background-color: white;
  font-family: openSansLight;
  background-color: #7e5686;
  color: white;
  padding: 10px;
  font-size: 22px;
}

a:hover {
  background-color: white;
  color: #725686;
  text-decoration: none;
}

