<!DOCTYPE html>
<html>
<head>
  <title>Facebook Login JavaScript Example</title>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
  <h1>New City</h1>


  <script>
  function statusChangeCallback(response) {
    if (response.status === 'connected') {
      displayAndSaveUserInfo();
      getFriendsList();

    } else if (response.status === 'not_authorized') {
      document.getElementById('status').innerHTML = 'Please log ' +
      'into this app.';
    } else {
      document.getElementById('status').innerHTML = 'Please log ' +
      'into Facebook.';
    }
  }


  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '990824900964852',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.5' // use graph api version 2.5
  });


    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function displayAndSaveUserInfo() {
    FB.api('/me', function(response) {
      console.log(response)
      createUser(response)
      document.getElementById('status').innerHTML =
      'Thanks for logging in, ' + response.name + '!';
    });
  }

  // after getting user's information,
  // 1. ask user for current email, password
  // make ajax call to server and save user's information


  function getFriendsList(){
    FB.api('/me/friends', function(response){
      // console.log("Getting FriendsList")
    })
  }

  function createUser(response){
    console.log("got into createUser")
    postData = {user : response, csrfmiddlewaretoken: '{{csrf_token}}' }
    $.ajax({
      url : "create_user/", // the endpoint
      type : "POST", // http method
      data : postData, // data sent with the post request

      // handle a successful response
      success : function(json) {
          console.log(json); // log the returned json to the console
          console.log("ajax post success"); // another sanity check
        },

      // handle a non-successful response
      error : function(xhr,errmsg,err) {
        console.log("ajax post error")
        // $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
        //       " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
        //   console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        // }
      }});
  }


  </script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<fb:login-button data-size ="xlarge" autologoutlink="true" data-scope="email, user_friends" onlogin="checkLoginState();">
</fb:login-button>



<div id="status">
</div>
<div id="results">
</div>

</body>
</html>