<!DOCTYPE html>
<html>
<head>

  <title>New City</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- <script src="home.js"></script> -->

  <link rel="stylesheet" type="text/css" href="HPstyle.css">
</head>
<body>

  <ul id="navbar">
    <li id="logo">Roommate</li>
    <li><a href="#">See Listings</a></li>
    <li><a href="#">Sign Up</a></li>
    <li><a href="login.html">Log In</a></li>
  </ul>

<div class="jumbotron">

  <div class="container">
    <header id="headTitle">
      Welcome Home
    </header>
    <h4 id="tagline">Let us help</h4>
  </div>

  <div class="container" id="bottom">
    <h3>Looking for a...</h3><br>
    <a href="#" class="button">Home</a>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="#" class="button">Roommate</a>
  </div>
</div>

<div class="container" id="banner">

</div>


</body>
</html>