<!--DOCTYPE html -->
<html>
<head>
  <title>{% block head_title %}Post List{% endblock head_title %}</title>
</head>

<body>
  <h1>This is the user_list</h1>
  <h1>Not. This is the post_list</h1>

  {% for tag in tag_list %} {{ tag.name }} {% endfor %}

  {# facebook wrote a separate php script to run their searches #}
  <script type="text/javascript">
    function func(){
      return false;
    }
  </script>
  <form action="" method="get" id="filter-search" onSubmit="return func()">
    <input id="search" name="search" type="text" value="Find filters"/>
    <input id="search-submit-buttom" name="search-button" type="button" value="Search" onClick="func()"/>
  </form>

  {% for post in post_list %}

  <a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></br>
  {{ post.title }}</br>

  {{ post.user.user }}</br>
  {{ post.user.gender }}</br>
  {{ post.user.address }}</br>
  {{ post.user.birthday }}</br>
  {{ post.user.friends }}</br>
  {{ post.user.picture }}</br>
  {{ post.user.create_timestamp }}</br>
  {{ post.user.last_updated }}</br>
  {{ post.user.last_active }}</br>

  {{ post.user.create_timestamp }}</br>
  {{ post.house.title }} </br>
  {{ post.house.content }} </br>
  {{ post.house.address.street }} </br>
  {{ post.house.address.city.name }} </br>
  {{ post.house.price }} </br>
  {{ post.house.beds }} </br>
  {{ post.house.baths }} </br>
  {{ post.house.pet_allowed }} </br>
  {{ post.house.has_pool }} </br>
  {{ post.house.has_parking }} </br>
  {{ post.house.has_laundry }} </br>
  {{ post.house.created_timestamp }} </br>
  {{ post.house.last_update }} </br>
 </br>

  {% endfor %}
</body>

</html>
