<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
          <script src="//code.jquery.com/jquery-1.10.2.js"></script>
          <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    </head>

    <body>
    <div id="output" class="output">
        <h1>This is Roommate List</h1>
        <div id="div-roommate">
        {% for roommate in roommate_list %}
          <!-- <a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></br> -->
          {{ roommate.user.username }}</br>
          {{ roommate.gender }}</br>
          {{ roommate.school }}</br>
          {{ roommate.hometown }}</br>
          {{ roommate.job }}</br>
          {{ roommate.birthday }}</br>
          <!-- {{ roommate.picture }}</br>
          {{ roommate.friends }}</br> -->
         </br>
        {% endfor %}
        </div>
    </div>

    <form method='GET' action="" id="filter-form">{% csrf_token %}
        <input type="radio" class = "gender-class" name="filter-gender" value="M" />Male
        <input type="radio" class = "gender-class" name="filter-gender" value="F" />Female
    </br>
    </form>

     <form method='GET' action="" id="filter-hometown-form">{% csrf_token %}
        Hometown: <input type="text" id="text-hometown">
        <input id = "input-hometown" type="submit" value="Search Hometown"><br>
    </form>

    <form method='GET' action="" id="reset-form">{% csrf_token %}
        <input id = "reset" type="submit" value="Reset">
    </form>

    <!-- post house -->
    <a href='{% url 'posts:login' %}'>Build your profile</a>
    <a href='{% url 'posts:create_house' %}'>Post your house!</a>


    </div>

    <script>
    // $('.gender-class').on('submit', function(event){
    $(".gender-class").click(function(event){
        console.log("form submitted!")  // sanity check
        filter_roommate();
    });

    $("#filter-hometown-form").on('submit', function(event){
        event.preventDefault();
        console.log("form submitted!")  // sanity check
        filter_roommate();
    });

    $("#reset-form").on('submit', function(event){
        // event.preventDefault();
        location.reload()
    });

    function filter_roommate() {
    console.log("filter_roommate is working!") // sanity check
    $.ajax({
        url : window.location.pathname,
        //"/posts/list_roommate/San%20Francisco"
        type : "GET", // http method
        // data : { gender : $('#filter-gender').val()
        data : { gender : $("input:radio[name=filter-gender]:checked").val(),
               hometown: $("#text-hometown").val()}, // data sent with the post request

        // handle a successful response
        success : function(json) {
            // $('#filter-gender').val(''); // remove the value from the input
            console.log(json); // log the returned json to the console
            console.log("success"); // another sanity check
            // $(document).ajaxStop(function() { location.reload(true); });
            // window.location.reload(json)
            var raw_html = document.createElement('html')
            raw_html.innerHTML = json
            // var output = raw_html.firstChild;
            var output = raw_html.getElementsByClassName("output")[0]
            $(".output").html(output)
            // .html(json)
            },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    };
    </script>

    </body>
</html>
