<!--DOCTYPE html -->
<html>
<head>
  <title>{% block head_title %}Post Detail{% endblock head_title %}</title>
</head>

<body>
  <h1>{{ instance.title }}</h1>

  {{ instance.title }}</br>
  {{ instance.user.user }}</br>
  {{ instance.user.gender }}</br>
  {{ instance.user.address }}</br>
  {{ instance.user.birthday }}</br>
  {{ instance.user.friends }}</br>
  {{ instance.user.picture }}</br>
  {{ instance.user.create_timestamp }}</br>
  {{ instance.user.last_updated }}</br>
  {{ instance.user.last_active }}</br>
  </br>
</body>

</html>
