<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
          <script src="//code.jquery.com/jquery-1.10.2.js"></script>
          <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    </head>

    <body>
    <div>
    {% if initial_city %}
    <h1>Potentital Roommates in {{ initial_city }}</h1>
    {% else %}
    <h1>Potential Roommates</h1>
    {% endif %}
    </div>

    <div id="output" class="output">
        <div id="div-roommate">
        {% for roommate in roommate_list %}
          <!-- <a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></br> -->
          Username: {{ roommate.user.username }}</br>
          Gender: {{ roommate.gender }}</br>
          School: {{ roommate.school }}</br>
          Age: {{ roommate.birthday }}
          Hometown: {{ roommate.hometown }}</br>
          Job: {{ roommate.job }}</br>
          Budget: {{ roommate.budget }}</br>
          Age: {{ roommate.age }}</br>
          Relationship Status: {{ roommate.get_relationship_status_display }}</br>
          Tags:
          {% for tag in roommate.tags.all %}
            {{tag.name}},
          {% endfor %}
         </br>
        {% endfor %}
        </div>
    </div>

    <form method='GET' action="" id="filter-form">{% csrf_token %}
        <input type="radio" class = "gender-class" name="filter-gender" value="M" />Male
        <input type="radio" class = "gender-class" name="filter-gender" value="F" />Female
    </br>
    </form>

    <p>
      <label for="amount">Monthly budget:</label>
      <input type="text" id="amount-budget" readonly>
    </p>
    <div id="budget-range"></div>

    <p>
      <label for="amount">Age range:</label>
      <input type="text" id="text-age" readonly>
    </p>
    <div id="age-range"></div>

     <form method='GET' action="" id="filter-hometown-form">{% csrf_token %}
        Hometown: <input type="text" id="text-hometown">
        <input id = "input-hometown" type="submit" value="Search Hometown"><br>
    </form>

    <form method='GET' action="" id="filter-school-form">{% csrf_token %}
        School: <input type="text" id="text-school">
        <input id = "input-school" type="submit" value="Search School"><br>
    </form>

    <form method='GET' action="" id="filter-job-form">{% csrf_token %}
        Job: <input type="text" id="text-job">
        <input id = "input-job" type="submit" value="Search job"><br>
    </form>

    <div id="div-relationship">
    <input type="checkbox" class="filter-relationship" value="S"> Single<br>
    <input type="checkbox" class="filter-relationship" value="E"> Engaged<br>
    <input type="checkbox" class="filter-relationship" value="M"> Married<br>
    <input type="checkbox" class="filter-relationship" value="I"> In a relationship<br>
    </div>

    <form method='GET' action="" id="reset-form">{% csrf_token %}
        <input id = "reset" type="submit" value="Reset">
    </form>


    <div id="div-tag">
    {% for tag in tag_list %}
    <input type="checkbox" class="filter-tag" value="{{ tag.name }}"> {{ tag.name }}
    {% endfor %}
    </div>

    <!-- post house -->
    <a href='{% url 'posts:login' %}'>Build your profile</a>
    <a href='{% url 'posts:create_house' %}'>Post your house!</a>

    </div>

    <script>

    $(function() {
    $("#budget-range").slider({
      range: true,
      min: 0,
      max: 5000,
      step: 100,
      values: [ 0, 5000 ],
      slide: function( event, ui )  {
        $("#amount-budget").val("$" + ui.values[0] + " - $" + ui.values[1]);
      },
      stop: function(event, ui) {
        filter_roommate()
      }
    });
    $("#amount-budget").val("$" + $("#budget-range").slider("values", 0) + " - $" + $("#budget-range").slider("values", 1));
  });

    $(function() {
    $("#age-range").slider({
      range: true,
      min: 0,
      max: 100,
      step: 1,
      values: [ 0, 100 ],
      slide: function( event, ui )  {
        $("#text-age").val(ui.values[0] + " - " + ui.values[1]);
      },
      stop: function(event, ui) {
        filter_roommate()
      }
    });
    $("#text-age").val($("#age-range").slider("values", 0) + " - " + $("#age-range").slider("values", 1));
  });

    // $('.gender-class').on('submit', function(event){
    $(".gender-class").click(function(event){
        console.log("form submitted!")  // sanity check
        filter_roommate();
    });

    $(".filter-relationship").click(function(event){
        console.log("form submitted!")  // sanity check
        filter_roommate();
    });

    $(".filter-tag").click(function(event){
        console.log("form submitted!")  // sanity check
        filter_roommate();
    });

    $("#filter-hometown-form").on('submit', function(event){
        event.preventDefault();
        console.log("form submitted!")  // sanity check
        filter_roommate();
    });

    $("#filter-school-form").on('submit', function(event){
        event.preventDefault();
        console.log("form submitted!")  // sanity check
        filter_roommate();
    });

    $("#filter-job-form").on('submit', function(event){
        event.preventDefault();
        console.log("form submitted!")  // sanity check
        filter_roommate();
    });

    $("#reset-form").on('submit', function(event){
        // event.preventDefault();
        location.reload()
    });

    function filter_roommate() {
    console.log("filter_roommate is working!") // sanity check
    var budget = $("#budget-range").slider( "option", "values" )
    var age = $("#age-range").slider("option", "values")
    var relationship_selected = [];
    var filter_selected = [];
    $('#div-relationship input:checked').each(function() {
      relationship_selected.push($(this).val());
    });

    $('#div-tag input:checked').each(function() {
      filter_selected.push($(this).val());
    });

    $.ajax({
        url : window.location.pathname,
        //"/posts/list_roommate/San%20Francisco"
        type : "GET", // http method
        // data : { gender : $('#filter-gender').val()
        data : { gender : $("input:radio[name=filter-gender]:checked").val(),
               hometown: $("#text-hometown").val(),
               school: $("#text-school").val(),
               job: $("#text-job").val(),
               budget_low: budget[0],
               budget_high: budget[1],
               age_low: age[0],
               age_high: age[1],
               relationship_status: relationship_selected,
               filter_selected: filter_selected,
                }, // data sent with the post request

        // handle a successful response
        success : function(json) {
            // $('#filter-gender').val(''); // remove the value from the input
            console.log(json); // log the returned json to the console
            console.log("success"); // another sanity check
            // $(document).ajaxStop(function() { location.reload(true); });
            // window.location.reload(json)
            var raw_html = document.createElement('html')
            raw_html.innerHTML = json
            // var output = raw_html.firstChild;
            var output = raw_html.getElementsByClassName("output")[0]
            $(".output").html(output)
            // .html(json)
            },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    };
    </script>

    </body>
</html>
