<!--DOCTYPE html -->
<html>
<head>
  <title>{% block head_title %}Post List{% endblock head_title %}</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
  $(function() {
    $("#slider-range").slider({
      range: true,
      min: 0,
      max: 10000,
      values: [ 1000, 2000 ],
      slide: function( event, ui ) {
        $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
      }
    });
    $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));
  });
  </script>

  <script>
    
  </script>
</head>

<body>
  <h1>This is the post_list</h1>

  {% for tag in tag_list %} 

  <button id="likes" class="filter-buttons" type="button">{{ tag.name }}</button>
  
  {% endfor %}

  {# list all house attributes as filter criteria #}

  <p>
    <label for="amount">Price range:</label>
    <input type="text" id="amount" readonly>
  </p>
  <div id="slider-range"></div>

  {# facebook wrote a separate php script to run their searches #}
  <script type="text/javascript">
    function func(){
      return false;
    }
  </script>
  <form action="" method="get" id="filter-search" onSubmit="return func()">
    <input id="search" name="search" type="text" value="Find filters"/>
    <input id="search-submit-buttom" name="search-button" type="button" value="Search" onClick="func()"/>
  </form>

  {% for post in post_list %}

  <a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></br>
  {{ post.title }}</br>

  {{ post.user.user }}</br>
  {{ post.user.address }}</br>
  {{ post.user.picture }}</br>

  {{ post.house.title }} </br>
  {{ post.house.content }} </br>
  {{ post.house.address.street }} </br>
  {{ post.house.address.city.name }} </br>
  {{ post.house.price }} </br>
 </br>

  {% endfor %}
</body>

</html>
