{% block body %}
{% block content %}

{% if user %}
    <h1>Welcome {{user.first_name}}</h1>
    {% for account in user.socialaccount_set.all %}
        <p><img width="500" height="500" src="{{ account.get_avatar_url }}" /></p>
        <h3>Name: {{ account.extra_data.name }}</h3>
        <h3>Email: {{ account.extra_data.email }}</h3>
        <h3>Gender: {{ account.extra_data.gender }}</h3>
        <h3>Check your Friends in Jack&Coke...</h3>
        {% for friend in account.extra_data.friends.data %}
            <li>{{friend.name}}</li>
        {% endfor %}
        <h3>Total FB friends count: {{account.extra_data.friends.summary.total_count}}</h3>
    {% endfor %}
{% endif %}
{% endblock content %}
{% endblock body %}

{% if user.is_authenticated %}
    <a href="/accounts/logout">Logout</a>
{% endif %}

<!-- Get Friends list,
     Search database to find user with same name,
     Make Friendship instance -->