<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
    <p>Step {{ wizard.steps.step1 }} of {{wizard.steps.count }}</p>

    <!-- validates form -->
    {% for field in form %}
        {{field.error}}
    {% endfor %}

    <form action="/posts/questionnaire/" method="POST">{% csrf_token %}
    {{ wizard.management_form}}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
            {{ form }}
        {% endfor %}
    {% else %}
        {{ wizard.form }}
    {% endif %}

    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}"> "first step" </button>
    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}"> "prev step" </button>

    <input type="submit" value="Submit" />

    </form>

    </body>
</html>
